####################################################
#   Environment settings for the pgAdmin service   #
####################################################

PGADMIN_DEFAULT_EMAIL=admin@email.com   # Default email for the pgAdmin user account
PGADMIN_DEFAULT_PASSWORD=123456         # Default password for the pgAdmin user account
