####################################################
#   Environment settings for the Flower service    #
####################################################

CELERY_FLOWER_USER=admin            # The username for accessing the Flower monitoring tool
CELERY_FLOWER_PASSWORD=123456       # The password for the Flower monitoring tool
